{% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  .bg { 
    background-image: url("static/uploads/images/image.png"); 
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }
</style>


<div class="bg">
  <div class="row mb-5 text-center text-white laptop">
      <div class="col-lg-10 mx-auto">
          <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: white;"><b>🍁Plant Disease
                  Detection And Monitoring System🍁 </b></h1>
          <p class="lead" style="font-weight: 500;color: white;">This AI Engine Will Help To Detect Disease From Following Fruites And Veggies</p>
      </div>
  </div>

  <center class="laptop">
      <a href="/login">
      <button class = "bttn-pill bttn-lg btn-success"><b style="color: black;">Login</b></button>
  </a>
  </center>
</div>



{% endblock body %}
